html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  h1{
    color: red;
  }

/*Start Game*/
  canvas {
    width: 800px;
    height: 500px;
    border: 2px solid black;
    background-image: url('/img/background/game_background_1.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav_main{
    display: flex;
    margin-bottom: 80px;
  }

  